:root {
    --headerbgcolor: #1F2937;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--headerbgcolor);
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.nav_options {
    display: flex;
    list-style: none;
}

.nav_options * {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
    padding: 8px;
}